# compiled object files
*.slo
*.lo
*.o
*.obj

# compiled dynamic libraries
*.so

# fortran module files
*.mod

# compiled static libraries
*.la
*.a
*.lib

# executables
*.exe
*.out
*.a
*.app

# log files
*.log

# special directories
doc/html/
exe/
wiki/

# special files
get_automatic_changelog.sh
